.header__container {
  width: 100%;
  position: relative;
}
.header-btn__container {
  svg {
    height: $menuSvgSize;
    width: $menuSvgSize;
  }
}
.back-btn__container {
  position: absolute;
  top: $appW / 10;

  width: ($appW / 9) * 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-btn__container {
  position: absolute;
  top: $appW / 10;
  right: 0;
  width: ($appW / 9) * 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-label__container {
  height: $appW / 4;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  .header-label__title {
    color: $secondFontColour;
    font-size: 12px;
    margin-bottom: 3px;
  }
  .header-label__text {
    font-size: 18px;
  }
}
