$mainUtilsColour: #0fd65a;
$mainDarkUtilsColour: #11b851;
$secondUtilsColour: #b3b3b3;

$mainFontColour: #fff;
$secondFontColour: #9a9b9b;

$mainBackgroundColour: #1b1b1b;

$secondTransitionTime: 0.5s;
$appH: 717px;
$appW: 403px;

$menuSvgSize: 20px;

@mixin text-i1 {
  font-size: 16px;
  color: #000;
}
@mixin text-i2 {
  font-size: 16px;
  color: $secondFontColour;
}
@mixin text-i3 {
  font-size: 12px;
  color: $secondFontColour;
}
@mixin titleLabel {
  color: $mainUtilsColour;
  font-size: 26px;
  margin-bottom: 3px;
}
@mixin bandLabel {
  color: $secondFontColour;
  font-size: 12px;
  text-transform: uppercase;
}
@mixin headerLabelContainer {
  position: absolute;
  top: $appW / 8;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
@mixin dotsAfterText {
  content: ".............";
  position: absolute;
  bottom: 0;
  right: -73px;
  width: 100%;
  letter-spacing: 10px;
  z-index: -5;
  font-size: 11px;
  color: $secondFontColour;
}
@mixin rightPartOfHeader {
  position: absolute;
  top: $appW / 10;
  right: 0;
  width: ($appW / 9) * 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin bodyContainer {
  margin-top: ($appW / 7) * 2;
}

@mixin coverHeight {
  height: $menuSvgSize * 10;
}
